body{
	background-image: url(https://images.pexels.com/photos/916337/pexels-photo-916337.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 1700px; 

}

.findout{
	font-size: 36px;
	    font-family: "Times New Roman", Times, serif;

	margin-top: 250px;
	margin-left: 550px;
	color: black;
}
.btn{
	margin-left: 550px;
	border-radius: 30px;
	color: white;	
  cursor: pointer;

}
.btn:hover{
	background-color: grey;

}
